/* Global Resets */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Navigation */
nav {
  background-color: #333;
  padding: 15px;
  margin-bottom: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
}

nav a.login {
  background-color: #fff;
  color: #333;
  padding: 5px 10px;
  transition: background-color 0.3s, color 0.3s;
}

nav a.login:hover {
  background-color: #555;
  color: #fff;
}

nav img {
  height: 40px;
}

/* Form */
#label {
  margin-bottom: 10px;
}

/* Donate Button */
#donate-button {
  margin-top: 25px;
}
